<?xml version='1.0' encoding='utf-8'?>
<widget id="de.exinto.synclist" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SyncList</name>
    <description>
        Synchronizable, distributed, unhosted todo list.
    </description>
    <author email="peter@exinto.de" href="http://github.com/peter-x/synclist">
        Synclist developers.
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
</widget>
